{% extends "book.html" %}
{% load static %}
{% load filters %}
{% load assignments %}

{% block css %}
    <link rel="stylesheet" href="{% static "book/css/book.css" %}">
    <link href="{% static 'book/css/book_search.css' %}" rel="stylesheet">
{% endblock %}

{% block search_result %}
    {% if books|length_is:0 %}
        <div class="d-flex w-100 justify-content-center align-items-center">
            <small class="text-secondary">검색 결과가 없습니다!</small>
        </div>
    {% else %}
        <form class="container-fluid book-container g-4 p-3" action="{% url "library_add" %}" method="post"
              id="search-result" onsubmit="return fillData(event)">
            {% csrf_token %}
            <div class="d-none" id="book-info-container">
                <input type="hidden" name="isbn"/>
                <input type="hidden" name="title"/>
                <input type="hidden" name="contents"/>
                <input type="hidden" name="authors"/>
                <input type="hidden" name="thumbnail"/>
                <!--<input type="hidden" name="url"/>-->
            </div>
            {% for book in books %}
                {% define book|key:"isbn"|str_split|key:0 as isbn %}
                {% define book|key:"title" as title %}
                {% define book|key:"contents" as contents %}
                {% define book|key:"authors"|arr_str as authors %}
                {% define book|key:"thumbnail" as thumbnail %}
                {% define book|key:"url" as url %}

                <div class="card book">
                    <div class="book-title" id="{{ isbn }}-title">{{ title }}</div>
                    <div class="book-thumbnail">
                        <img id="{{ isbn }}-thumbnail" src="{{ thumbnail }}" alt="{{ title }}">
                    </div>
                    <div class="book-detail overflow-auto">
                        <div class="card-body p-0">
                            <p class="card-text p-2" id="{{ isbn }}-contents">{{ contents }}</p>
                            <p class="card-text">
                                <small class="text-muted ps-2" id="{{ isbn }}-authors">
                                    저자 : {{ authors }}
                                </small>
                            </p>
                        </div>
                    </div>
                    <div class="book-control">
                        <button class="btn-sm btn-secondary" data-bs-toggle="modal" data-bs-target="#detail-{{ isbn }}">자세히 보기</button>
                        <!-- Modal -->
                        <div class="modal fade" id="detail-{{ isbn }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">{{ title }}</h5>
                                    </div>
                                    <div class="modal-body">{{ contents }}</div>
                                    <div class="modal-footer">
                                        <div class="btn btn-secondary" data-bs-dismiss="modal">닫기</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input data-isbn="{{ isbn }}" type="submit" value="독서 기록 하기" class="btn-sm btn-primary"/>
                    </div>
                </div>
            {% endfor %}
        </form>
    {% endif %}
{% endblock %}
