.book-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    column-gap: var(--bs-gutter-x);
    row-gap: var(--bs-gutter-y);
}

.book {
    display: grid;
    grid-template: 3rem 1fr 3rem / 1fr 2fr;
    gap: 0;
}

.book-thumbnail {
    height: 0;
    padding-bottom: 145%;
    grid-row-start: 2;
}

.book-thumbnail > img {
    height: auto;
    display: block;
    width: 100%;
}

.book-detail {
    display: flex;
    height: 0;
    padding-bottom: 72.5%;
    grid-row-start: 2;
}

.book-title {
    /*position: sticky;*/
    /*top: 0;*/
    grid-column: 1 / 3;
    font-size: 1.25rem;
    white-space: nowrap;
    overflow-x: hidden;
    padding: .5rem;
    text-overflow: ellipsis;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    background-color: rgba(0, 0, 0, .03);
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.book-control {
    grid-column: 1 / 3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(0, 0, 0, .03);
    border-top: 1px solid rgba(0, 0, 0, .125);
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

.book-control > .btn-sm {
    margin: .25rem;
    border: none;
}

.book-control > a.btn-sm,
.book-control > a.btn-sm:link,
.book-control > a.btn-sm:active,
.book-control > a.btn-sm:hover {
    text-decoration: none;
}

.book-control > .btn-sm:last-child {
    margin-right: .5rem;
}
